.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
:root{
    --primary-color: #3A5743;
    --secondary-color: #3B7080;
    --accent1-color: #CFFFB3;
    --accent2-color: #DBFB9B;
    --font-color:#001219;
    --link-hover-color:#94d2bd;

}
footer img{
  width:32px;
  height:32px;
  display:inline-block;

}

/* Style the body to apply the background color and font styles */
body {
  font-family: Arial, sans-serif;
  color: var(--font-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

/* Style headings */
h2{
  color: var(--primary-color);
  margin-bottom: 10px;
}

p {
  color: var(--font-color);
  margin-bottom: 15px;
}

.sociallinks a {
  text-decoration: none;
}

.sociallinks a:hover {
  color: var(--link-hover-color); 
}

/* Add some spacing and layout for social media icons */
.social-media {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* Style other links on the site (default style includes underlines) */
a {
  color: var(--primary-color);
  text-decoration:none;
}

a:hover {
  color: var(--link-hover-color);
}

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: right;
  padding: 10px 20px;
  background-color: #004d66;
  color: white;
  
}

header img {
  width: 50px;
  height: 50px;
}

header h1 {
  margin-left: 10px;
  font-size: 1.5em;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

nav  a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.hst {
  padding: 20px;
  background-color: #f4f4f4;
}

.adve {
  padding: 20px;
}

h2 img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #004d66;
  color: white;
}

footer .sociallinks img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
figcaption{
  flex-shrink:0;
  margin:10px;
  font-style:italic;
}
.employee{
  display:flex;
  flex-direction: column;

}
figure img{
  width:200px;
  height:200px;
  margin:10px;
  padding:10px;
}
.employee{
  display:grid;
  grid-template-columns:200px 200px 200px;
  border:solid black;
  margin:10px;
}
.info{
  border:solid black;
  margin:10px;
}
h3{
  display:flex;
  Align-items:center;
  justify-content:center;
}

