* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --background-color:darkblue;
    --heading-padding:10px;
    --backgroundt-color:white;
    --image-height:auto;
    --content-border:1px solid black;
}
nav{
    background-color:var(--background-color);
    padding:var(--heading-padding);
}
nav a{
     color:var(--backgroundt-color);
     display: block;
     padding:20px;
}
h1{
    color:var(--background-color);
}
img{
    width:150px;
    height:var(--image-height);
    border:var(--content-border);
    padding:2px;
    box-shadow:0 0 30px gray;
}
p{
    padding:var(--heading-padding);
}
main{
    max-width:840px;
}
aside{
    width:20rem;
    text-align:center;
    position:relative;
}  
aside img{
    width:200px;
    height:var(--image-height);
}
p{padding:0;}
footer{
    margin-top:10px;
    border-top:var(--content-border);
    text-align:center;
}
/*class selector*/
.box{
    margin:1rem;
    padding:1rem;
    background-color:#ddd;
    border:1px solid rgb(0 0 0/0.1);
    color:#000;
}
main img{
    float:right;
    height:15rem;
    width:200px;
}
aside h2{
    position:absolute;
    top:47px;
    left:150px;
}